* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* SHARED STYLE */
.display-flex {
    display: flex;

}

.background-color1 {
    background-color: #1A0B2E;
}

.liner-gradiant {
    background-image: linear-gradient(to top, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.primary-btn {
    font-weight: 600;
    font-size: 1rem;
    color: #FFFFFF;
    padding: 12px 16px;
    border: none;
    border-radius: 10000px;
    cursor: pointer;
    background: linear-gradient(to right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);

}


/* Navber Style  */


.nav-container {
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    height: 92px;
    margin: 0 auto;
    border-bottom: 1px solid #412567;


}

.nav-container h1 {
    color: #FFFFFF;
}

.nav-container .list-container {
    gap: 32px;
    list-style: none;

}

.list-container a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 120%;
}

.hamburger {
    display: none;
}

/* HERO-SECTION */


.hero_section {
    max-width: 100%;
    height: 760px;
    background-image: url(B13-A02-TechWave/assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.Wave-container {
    /* background-color: aqua; */
    position: relative;
    max-width: 100%;
    height: 350px;

}

.Microphone_badge {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.circle {
    max-width: 350px;
    min-height: 350px;


}

.microphone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1), filter 0.4s ease;
    cursor: pointer;
    max-width: 200px;
    min-height: 200px;
}

.microphone:hover {
    transform: translate(-50%, -50%) rotate(360deg) scale(1.1);
    transition-duration: 1s;
    filter: drop-shadow(0 0 20px white);
}

.badge {
    background-color: #00FF88;
    color: #1A0B2E;
    border: none;
    border-radius: 1000px;
    font-weight: 700;
    font-size: 1.15rem;
    font-weight: 600s;
    padding: 8px 16px;
    display: inline-block;
    position: absolute;
    left: 230px;
    top: -3px;
}



.hero_content {
    margin-top: 40px;
    max-width: 550px;
    min-height: 168px;
}

.hero_content h1 {
    font-weight: 800;
    font-size: 3.8rem;
    color: #FFFFFF;


}

.hero_content p {
    font-weight: 400;
    font-size: 1rem;
    color: #ffffff9d;
    padding-top: 8px;
    padding-bottom: 24px;
}

.Spotify-btn {
    max-width: 201px;
}

.Subscribe-btn {
    font-weight: 600;
    font-size: 1rem;
    color: #00FF88;
    padding: 12.5px 20px;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    background-color: transparent;
    cursor: pointer;

}

/* PODCAST SECTION  */

.Podcast-container {
    max-width: 100%;
    min-height: 646px;
    background-color: #1A0B2E;
    flex-direction: column;
    place-items: center;
    /* border: 1px solid red;  */
}

.Podcast-content {

    max-width: 1200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 200px 80px 200px;
    border-bottom: 1px solid #412567;
    /* border: 1px solid red; */

}

.Podcast-content h1 {
    font-weight: 700;
    font-size: 3rem;
    color: #FFFFFF;
}

.Podcast-content p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    color: #ffffff92;
    padding-top: 16px;

}

.Rating-container {
    max-width: 1200px;
    min-height: 94px;
    display: grid;
    grid-template-columns: repeat(4, 240px);
    gap: 60px;
    margin: 80px 200px 120px 200px;
    text-align: center;
    align-items: center;
    /* border: 1px solid red; */


}

.Rating-container>div>h1 {
    font-weight: 900;
    font-size: 3rem;
    color: #00FF88;
}

.Rating-container>div>p {
    font-weight: 400;
    font-size: 1rem;
    color: #ffffff98;
    padding-top: 16px;
    line-height: 20px;
}

.Star-value {
    line-height: 1;
}

/* CARD-SECTION    */

.Techwave-container {
    background-color: #230E3D;
    padding: 100px 200px;
    max-width: 100%;
    min-height: 1121px;
}

.Card-Conatiner {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.card-style {
    border: none;
    border-radius: 40px;
    padding: 40px;
    background-color: #351165;

}

.card-style img {
    max-width: 60px;
    min-height: 60px;
    margin-bottom: 16px;
}

.card-style h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.card-style p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;

}

.Card-title {
    max-width: 1200px;
    margin: 120px 200px 40px 200px;
    align-items: center;
    justify-content: center;
}

.Card-title h1 {
    font-weight: 700;
    font-size: 3rem;
    color: #FFFFFF;
}

.Card-1 {

    grid-column: span 1;
    grid-row: span 2;
}

.Card-2,
.Card-3,
.Card-4 {

    grid-column: span 2;
    grid-row: span 1;
}

.Card-5 {

    grid-column: span 1;
    grid-row: span 1;

}

/* EPISODE SECTION  */

.Episode-Container {
    background-color: #1A0B2E;
    padding: 120px 200px;
    max-width: 100%;
    min-height: 1276px;
}


.Episode-Title {

    max-width: 1200px;

    margin: 120px 200px 40px 200px;
    align-items: center;
    justify-content: center;


}

.Episode-Title h1 {

    font-weight: 700;
    font-size: 3rem;
    color: #FFFFFF;
}



.Episode-Card {
    gap: 30px;
    justify-content: center;
    align-items: center;

}





.EpCard-style {
    max-width: 380px;
    min-height: 440px;
    /* border: 1px solid red; */
    border-radius: 40px;
    background-color: #250D44;
}

.EpCard-style iframe {
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;

}

.EpCard-content {
    max-width: 380px;
    min-height: 226px;
    padding: 24px;

}

.EpCard-content h2 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.EpCard-content p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 12px;
}

.EpCard-content span {
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.display-flex1 {
    display: flex;
    gap: 6px;
}

/* HOST SECTION  */

.Host-Container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 120px 200px; */
    margin-top: 120px;
    /* max-width: 100%; */
    min-height: 378px;
    /* border: 1px solid red; */
}

.Host-title {
    font-weight: 700;
    font-size: 2rem;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.Host-Inner {
    /* border: 1px solid red; */
    max-width: 1200px;
    min-height: 280px;
    flex-direction: row;
    padding: 40px;
    gap: 24px;
    background-color: #351165;
    border-radius: 40px;
}

.Host-details {
    padding: 40px;
    min-height: 183px;
    max-width: 890px;


}

.Host-details h3 {
    font-weight: 700;
    font-size: 2rem;
    color: #FFFFFF;
    padding-bottom: 16px;
}

.Host-details p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 16px;


}

.Social-icons {
    /* max-width: 185px; */
    min-height: 40px;
    align-items: center;
    gap: 10px;
}

.Social-icons img {
    width: 40px;
    height: 40px;
    border: 1px solid #533C72;
    border-radius: 50%;
    padding: 12px;
    box-sizing: border-box;

}

/* FOOTER-SECTION  */

.footer-container {
    max-width: 100%;
    min-height: 412px;
    background-image: url(B13-A02-TechWave/assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-content {
    max-width: 1360px;
    min-height: 172px;
}

.footer-content h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3rem;
    padding-bottom: 32px;

}

.lists-container {
    width: 544px;
    height: 24px;
    flex-direction: column;
}

.list-class {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 32px;
}

.logo-name {
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
}

.lists-container p {
    font-weight: 400;
    font-size: 1rem;
    color: #FAFAFA;
}






/* RESPONSIVE DESGIN  */


@media screen and (max-width:576px) {


    .nav-container {
        justify-content: space-between;
        padding: 16px 20px;
    }

    .list-container,
    .navber-btn {
        display: none;
    }

    .hamburger {
        display: block;
        width: 24px;
        cursor: pointer;
    }





    .hero_section {
        height: auto;
        padding: 40px 20px;

    }

    .Microphone_badge {
        top: 48%;
    }

    .circle {
        max-width: 200px;
        min-height: 200px;
    }

    .microphone {
        max-width: 80px;
        min-height: 80px;
    }

    .badge {

        font-size: 1rem;
        left: 140px;
        top: -5px;
    }

    .hero_content h1 {
        font-size: 2.5rem;
    }

    .hero_content p {
        font-size: 0.90rem;
    }







    .Podcast-content {

        padding: 40px 20px;
    }

    .Podcast-content h1 {
        font-size: 2rem;
    }


    .Rating-container {


        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin: 40px 20px;

    }

    .Rating-container h1 {
        font-size: 2.5rem;
    }


    

    .Techwave-container {
        padding: 40px 20px;
    }

    .Card-title {
        margin: 0 0 25px 0;
    }

    .Card-title h1 {
        font-size: 2rem;
        text-align: center;
    }

    .Card-Conatiner {
        grid-template-columns: repeat(1, 1fr);


    }

    .Card-1,
    .Card-2,
    .Card-3,
    .Card-4,
    .Card-5 {
        grid-column: span 1;
        grid-row: span 1;
    }

    .Episode-Container {
        padding: 40px 20px;
    }

    .Episode-Title {
        margin: 0 0 25px 0;
    }

    .Episode-Title h1 {
        font-size: 2.5rem;
    }

    .Episode-Card {
        flex-direction: column;
    }

    .Host-title h1 {
        font-size: 2.5rem;
    }

    .Host-Inner {
        flex-direction: column;
        gap: 16px;
        padding: 24px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .Host-details {
        padding: 0;
    }

    .Social-icons {
        justify-content: center;
    }

    .footer-container {
        padding: 40px 20px;
    }

    .footer-content h1 {
        font-size: 2.5rem;
    }

    .list-class {
        gap: 16px;
        grid-template-columns: repeat(2, 0.75fr);

    }

}